In [1]:
import asyncio
from ws_api_helper import receive_realtime_data
uri = "ws://localhost:8720/rtdata"
body = { "type":"point", "cols":[ "time_period", "coal_feed", "valve_opening" ] }  # 更改为实际需要的列名

asyncio.get_event_loop().run_until_complete(receive_realtime_data(uri, body, print))

RuntimeError: This event loop is already running

In [2]:
import json
token = {
    "data": {
    },
    "status": 0,
    "timestamp": 1605778520744
}

json.dumps(token, indent=4)

'{\n    "data": {},\n    "status": 0,\n    "timestamp": 1605778520744\n}'

In [21]:
from http_api_helper import history_data_retrieve_api
TOKEN="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzb3VyY2UiOiJ0aGlyZCIsInR5cGUiOiJhcHAiLCJ0aWQiOiJiYmNlMDQ5NDlmZWM0OTZkYTc1M2RkMTM1NjBiOWRjNSIsImFjY291bnQiOiJLYWZrYSIsInNpZCI6ImJjMzY4MzU3YmViYzRlOWZhYTZmMzZiMzE3YmU4ZTE4In0.N0uTk7g-mxcI5ZbU-teugxCoGqva5oBQurEsRNhpK8o"
header = {"token":TOKEN}
body = {
        "endTime": "2023-02-25 01:41:36",
        "includeBounds": True,
        "namespace": "unit01",
        "interval": 1000,
        "startTime": "2023-02-25 01:00:36",
        "tags": ["coal_feed", "water_supply", "water_supply", "valve_opening", "main_steam_pressure","intermediate_point_temperature", "power"]
    }

In [23]:
import pandas as pd

In [62]:
resp = history_data_retrieve_api(header, body)
pdlist = []
for data in resp.json()['data']:
    base_dict = {"name":data['tag']}
    series = pd.DataFrame(data['data']).qos.describe().to_dict()
    base_dict.update(series)
    pdlist.append(base_dict)
pd.DataFrame(pdlist)

,name,count,mean,std,min,25%,50%,75%,max
0,coal_feed,2461.0,162.261012,12.594958,136.98,150.83,163.32,170.51,188.29
1,water_supply,2461.0,894.726432,69.997169,767.88,845.39,892.89,946.92,1029.63
2,water_supply,2461.0,894.726432,69.997169,767.88,845.39,892.89,946.92,1029.63
3,valve_opening,2461.0,85.364271,2.454629,80.89,83.59,84.56,87.44,90.80
4,main_steam_pressure,2461.0,21.073523,1.145670,18.99,20.39,21.20,22.17,22.57
5,intermediate_point_temperature,2461.0,377.395713,4.581746,369.36,374.54,378.32,381.91,382.98
6,power,2461.0,270.682974,16.366818,243.13,257.80,271.86,284.59,300.05

      count        mean        std     min     25%     50%     75%      max
qos  2461.0  162.261012  12.594958  136.98  150.83  163.32  170.51   188.29
qos  2461.0  894.726432  69.997169  767.88  845.39  892.89  946.92  1029.63
qos  2461.0  894.726432  69.997169  767.88  845.39  892.89  946.92  1029.63
qos  2461.0   85.364271   2.454629   80.89   83.59   84.56   87.44    90.80
qos  2461.0   21.073523   1.145670   18.99   20.39   21.20   22.17    22.57
qos  2461.0  377.395713   4.581746  369.36  374.54  378.32  381.91   382.98
qos  2461.0  270.682974  16.366818  243.13  257.80  271.86  284.59   300.05

In [88]:

from datetime import datetime

df = pd.read_csv("../data/data_20230225.csv")

def datetime2ts(date_str):
    return int(datetime.strptime(date_str, "%Y-%m-%d %H:%M:%S").timestamp() * 1000)

In [96]:


body = {
    "endTime": "2023-02-25 22:47:36",
    "includeBounds": "True",
    "interval": 1000,
    "startTime": "2023-02-25 22:46:36",
    "namespace":"unit01",
    "tags": [
        "coal_feed",
        "water_supply",
        "intermediate_point_temperature"
    ]
}

_d = df.query(f" '{body['startTime']}' <=time_period <='{body['endTime']}'")


resp_temp = {
    "data": [
        {
            "namespace": body["namespace"],
            "tag": tag,
            "total": _d.shape[0],
            "data": [
                {
                    "time": datetime2ts(row.time_period),
                    "qos": row[tag]
                } for _, row in _d.iterrows()
            ]
        } for tag in body['tags']
    ],
    "message": "操作成功!",
    "status": 0,
    "timestamp": int(datetime.now().timestamp()) * 1000
}
resp_temp



# _d[['time_period', 'coal_feed']].rename(columns={'coal_feed': 'qos', 'time_period': 'time'})

# [{'time':datetime2ts(row[1].time_period), "qos": row[1].coal_feed} for row in _d.iterrows()]


# d_part.time = d_part.time.apply(lambda date_string: int(datetime.strptime(date_string, "%Y-%m-%d %H:%M:%S").timestamp() * 1000))
# d_part.iloc[:10].to_json(orient='records')

{'data': [{'namespace': 'unit01',
   'tag': 'coal_feed',
   'total': 61,
   'data': [{'time': 1677336396000, 'qos': 202.93},
    {'time': 1677336397000, 'qos': 203.04},
    {'time': 1677336398000, 'qos': 203.14},
    {'time': 1677336399000, 'qos': 203.25},
    {'time': 1677336400000, 'qos': 203.25},
    {'time': 1677336401000, 'qos': 203.25},
    {'time': 1677336402000, 'qos': 203.31},
    {'time': 1677336403000, 'qos': 203.51},
    {'time': 1677336404000, 'qos': 203.66},
    {'time': 1677336405000, 'qos': 203.66},
    {'time': 1677336406000, 'qos': 203.54},
    {'time': 1677336407000, 'qos': 203.43},
    {'time': 1677336408000, 'qos': 203.29},
    {'time': 1677336409000, 'qos': 203.0},
    {'time': 1677336410000, 'qos': 202.86},
    {'time': 1677336411000, 'qos': 202.88},
    {'time': 1677336412000, 'qos': 202.99},
    {'time': 1677336413000, 'qos': 203.06},
    {'time': 1677336414000, 'qos': 203.09},
    {'time': 1677336415000, 'qos': 203.11},
    {'time': 1677336416000, 'qos': 203.03},
    {'time': 1677336417000, 'qos': 202.89},
    {'time': 1677336418000, 'qos': 202.59},
    {'time': 1677336419000, 'qos': 202.51},
    {'time': 1677336420000, 'qos': 202.57},
    {'time': 1677336421000, 'qos': 202.76},
    {'time': 1677336422000, 'qos': 202.9},
    {'time': 1677336423000, 'qos': 203.13},
    {'time': 1677336424000, 'qos': 203.46},
    {'time': 1677336425000, 'qos': 203.66},
    {'time': 1677336426000, 'qos': 203.91},
    {'time': 1677336427000, 'qos': 204.26},
    {'time': 1677336428000, 'qos': 204.48},
    {'time': 1677336429000, 'qos': 204.7},
    {'time': 1677336430000, 'qos': 204.82},
    {'time': 1677336431000, 'qos': 204.81},
    {'time': 1677336432000, 'qos': 204.76},
    {'time': 1677336433000, 'qos': 204.64},
    {'time': 1677336434000, 'qos': 204.42},
    {'time': 1677336435000, 'qos': 204.04},
    {'time': 1677336436000, 'qos': 203.45},
    {'time': 1677336437000, 'qos': 203.11},
    {'time': 1677336438000, 'qos': 202.71},
    {'time': 1677336439000, 'qos': 202.43},
    {'time': 1677336440000, 'qos': 202.31},
    {'time': 1677336441000, 'qos': 202.35},
    {'time': 1677336442000, 'qos': 202.39},
    {'time': 1677336443000, 'qos': 202.39},
    {'time': 1677336444000, 'qos': 202.25},
    {'time': 1677336445000, 'qos': 202.1},
    {'time': 1677336446000, 'qos': 202.04},
    {'time': 1677336447000, 'qos': 202.06},
    {'time': 1677336448000, 'qos': 202.09},
    {'time': 1677336449000, 'qos': 202.11},
    {'time': 1677336450000, 'qos': 202.15},
    {'time': 1677336451000, 'qos': 202.25},
    {'time': 1677336452000, 'qos': 202.35},
    {'time': 1677336453000, 'qos': 202.44},
    {'time': 1677336454000, 'qos': 202.54},
    {'time': 1677336455000, 'qos': 202.78},
    {'time': 1677336456000, 'qos': 203.01}]},
  {'namespace': 'unit01',
   'tag': 'water_supply',
   'total': 61,
   'data': [{'time': 1677336396000, 'qos': 1113.17},
    {'time': 1677336397000, 'qos': 1113.37},
    {'time': 1677336398000, 'qos': 1113.6},
    {'time': 1677336399000, 'qos': 1113.83},
    {'time': 1677336400000, 'qos': 1113.97},
    {'time': 1677336401000, 'qos': 1114.08},
    {'time': 1677336402000, 'qos': 1114.08},
    {'time': 1677336403000, 'qos': 1113.98},
    {'time': 1677336404000, 'qos': 1113.99},
    {'time': 1677336405000, 'qos': 1113.98},
    {'time': 1677336406000, 'qos': 1114.03},
    {'time': 1677336407000, 'qos': 1114.15},
    {'time': 1677336408000, 'qos': 1114.2},
    {'time': 1677336409000, 'qos': 1114.13},
    {'time': 1677336410000, 'qos': 1114.01},
    {'time': 1677336411000, 'qos': 1113.95},
    {'time': 1677336412000, 'qos': 1113.92},
    {'time': 1677336413000, 'qos': 1113.76},
    {'time': 1677336414000, 'qos': 1113.66},
    {'time': 1677336415000, 'qos': 1113.43},
    {'time': 1677336416000, 'qos': 1113.1},
    {'time': 1677336417000, 'qos': 1112.89},
    {'time': 1677336418000, 'qos': 1112.4},
    {'time': 1677336419000, 'qos': 1112.13},
    {'time': 1677336420000, 'qos': 1111.8},
    {'time': 1677336421000, 'qos': 1111.19},
    {'time': 1677336422000, 'qos': 1110.82},
    {'time': 1677336423000, 'qos': 1110.58},
    {'time': 1677336424000, 'qos': 1110.36},
    {'time': 1677336425000, 'qos': 1110.17},
    {'time': 1677336426000, 'qos': 1109.67},
    {'time': 1677336427000, 'qos': 1109.14},
    {'time': 1677336428000, 'qos': 1109.03},
    {'time': 1677336429000, 'qos': 1108.79},
    {'time': 1677336430000, 'qos': 1108.68},
    {'time': 1677336431000, 'qos': 1108.68},
    {'time': 1677336432000, 'qos': 1108.6},
    {'time': 1677336433000, 'qos': 1108.42},
    {'time': 1677336434000, 'qos': 1108.48},
    {'time': 1677336435000, 'qos': 1108.55},
    {'time': 1677336436000, 'qos': 1108.48},
    {'time': 1677336437000, 'qos': 1108.61},
    {'time': 1677336438000, 'qos': 1108.69},
    {'time': 1677336439000, 'qos': 1108.71},
    {'time': 1677336440000, 'qos': 1108.77},
    {'time': 1677336441000, 'qos': 1108.94},
    {'time': 1677336442000, 'qos': 1109.11},
    {'time': 1677336443000, 'qos': 1109.24},
    {'time': 1677336444000, 'qos': 1109.55},
    {'time': 1677336445000, 'qos': 1109.58},
    {'time': 1677336446000, 'qos': 1109.61},
    {'time': 1677336447000, 'qos': 1109.69},
    {'time': 1677336448000, 'qos': 1109.73},
    {'time': 1677336449000, 'qos': 1109.72},
    {'time': 1677336450000, 'qos': 1109.84},
    {'time': 1677336451000, 'qos': 1109.77},
    {'time': 1677336452000, 'qos': 1109.94},
    {'time': 1677336453000, 'qos': 1109.95},
    {'time': 1677336454000, 'qos': 1109.93},
    {'time': 1677336455000, 'qos': 1109.93},
    {'time': 1677336456000, 'qos': 1110.03}]},
  {'namespace': 'unit01',
   'tag': 'intermediate_point_temperature',
   'total': 61,
   'data': [{'time': 1677336396000, 'qos': 394.01},
    {'time': 1677336397000, 'qos': 394.03},
    {'time': 1677336398000, 'qos': 394.05},
    {'time': 1677336399000, 'qos': 394.04},
    {'time': 1677336400000, 'qos': 394.06},
    {'time': 1677336401000, 'qos': 394.08},
    {'time': 1677336402000, 'qos': 394.09},
    {'time': 1677336403000, 'qos': 394.1},
    {'time': 1677336404000, 'qos': 394.12},
    {'time': 1677336405000, 'qos': 394.12},
    {'time': 1677336406000, 'qos': 394.13},
    {'time': 1677336407000, 'qos': 394.16},
    {'time': 1677336408000, 'qos': 394.16},
    {'time': 1677336409000, 'qos': 394.16},
    {'time': 1677336410000, 'qos': 394.19},
    {'time': 1677336411000, 'qos': 394.2},
    {'time': 1677336412000, 'qos': 394.22},
    {'time': 1677336413000, 'qos': 394.22},
    {'time': 1677336414000, 'qos': 394.24},
    {'time': 1677336415000, 'qos': 394.25},
    {'time': 1677336416000, 'qos': 394.25},
    {'time': 1677336417000, 'qos': 394.27},
    {'time': 1677336418000, 'qos': 394.28},
    {'time': 1677336419000, 'qos': 394.29},
    {'time': 1677336420000, 'qos': 394.31},
    {'time': 1677336421000, 'qos': 394.32},
    {'time': 1677336422000, 'qos': 394.31},
    {'time': 1677336423000, 'qos': 394.31},
    {'time': 1677336424000, 'qos': 394.31},
    {'time': 1677336425000, 'qos': 394.29},
    {'time': 1677336426000, 'qos': 394.3},
    {'time': 1677336427000, 'qos': 394.29},
    {'time': 1677336428000, 'qos': 394.29},
    {'time': 1677336429000, 'qos': 394.29},
    {'time': 1677336430000, 'qos': 394.28},
    {'time': 1677336431000, 'qos': 394.28},
    {'time': 1677336432000, 'qos': 394.28},
    {'time': 1677336433000, 'qos': 394.27},
    {'time': 1677336434000, 'qos': 394.27},
    {'time': 1677336435000, 'qos': 394.28},
    {'time': 1677336436000, 'qos': 394.28},
    {'time': 1677336437000, 'qos': 394.29},
    {'time': 1677336438000, 'qos': 394.29},
    {'time': 1677336439000, 'qos': 394.28},
    {'time': 1677336440000, 'qos': 394.28},
    {'time': 1677336441000, 'qos': 394.31},
    {'time': 1677336442000, 'qos': 394.31},
    {'time': 1677336443000, 'qos': 394.31},
    {'time': 1677336444000, 'qos': 394.32},
    {'time': 1677336445000, 'qos': 394.33},
    {'time': 1677336446000, 'qos': 394.35},
    {'time': 1677336447000, 'qos': 394.35},
    {'time': 1677336448000, 'qos': 394.35},
    {'time': 1677336449000, 'qos': 394.37},
    {'time': 1677336450000, 'qos': 394.38},
    {'time': 1677336451000, 'qos': 394.39},
    {'time': 1677336452000, 'qos': 394.41},
    {'time': 1677336453000, 'qos': 394.42},
    {'time': 1677336454000, 'qos': 394.42},
    {'time': 1677336455000, 'qos': 394.4},
    {'time': 1677336456000, 'qos': 394.41}]}],
 'message': '操作成功!',
 'status': 0,
 'timestamp': 1725451948000}

In [70]:
a

'["2023-02-25 01:00:00",170.46]'

In [95]:
from datetime import datetime
date_string = "2023-02-25 01:23:01"
int(datetime.strptime(date_string, "%Y-%m-%d %H:%M:%S").timestamp() * 1000)

1725451943000